body { background-color: lightcyan;
    position: auto;
    text-align: center;
}
header { background-color: lightcoral;
}
div.info {
    background-color: aqua;
}
img {
    max-width: 50%;
    height: auto;
    background-color: blueviolet;
}
h3 {
    background-color: black;
    color: white;
}
h1 {
    font-style: italic;
}
h2 {
    color: blueviolet;
}